/*reset*/
html, body, div,img,audio,source{margin:0;padding:0;border:0;outline:0;font-size:1.5625vw;font-family: "Microsoft Yahei";vertical-align:baseline;background:transparent;}
html,body{height:100%;overflow:hidden;}
/*music*/
.music {position:fixed;top:3vh;right:4vh;z-index:5;width:15vw;height:15vw;border:4px solid #EF1639;border-radius:50%;background-color:#FFF; }
.music > img:first-of-type {position: absolute;top:24%;right:2.5%;width:28.421%;z-index:1;}
.music > img:last-of-type {position:absolute;top:0;right:0;bottom:0;left:0;margin:auto;width:79%;z-index:0; }
.music > img.play{animation: music_disc 4s linear infinite;-webkit-animation: music_disc 4s linear infinite;-moz-animation: music_disc 4s linear infinite;-ms-animation: music_disc 4s linear infinite;}
@keyframes music_disc{
	0%{transform:rotate(0deg);-ms-transform:rotate(0deg);-moz-transform:rotate(0deg);-webkit-transform:rotate(0deg);}
	100%{transform:rotate(360deg);-ms-transform:rotate(360deg);-moz-transform:rotate(360deg);-webkit-transform:rotate(360deg);}
}
@-webkit-keyframes music_disc{
	0%{transform:rotate(0deg);-ms-transform:rotate(0deg);-moz-transform:rotate(0deg);-webkit-transform:rotate(0deg);}
	100%{transform:rotate(360deg);-ms-transform:rotate(360deg);-moz-transform:rotate(360deg);-webkit-transform:rotate(360deg);}
}
/*page bg*/
.page {position:absolute;width:100%;height:100%;}
.page > .bg{position:absolute;z-index:-1;height:100%;width:100%;}

/*page1*/
#page1 {display:block;}
#page1 > .bg{background:url("../images/p1_bg.jpg")no-repeat center center;background-size:100%;}
#page1 > .p1-lantern{position:absolute;top:-4%;right:0;left:0;margin:auto;width:45vw;height:71.2vh;font-size:3.506rem;color:#FFF;background:url("../images/p1_lantern.png")no-repeat center bottom;background-size:100%;width:45vw;height:71.2vh;font-size:3.50rem;padding-top:31vh;text-align:center;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;-ms-box-sizing:border-box;-o-box-sizing:border-box;box-sizing:border-box;}
#page1 > .p1-lantern:before{position:absolute;top:0;right:0;bottom:0;left:0;margin:auto;width:30vw;height:30vw;background:#D60B3B;opacity:.5;z-index:-1;content: "";border-radius:50%;-webkit-box-shadow:0 0 10vw 10vw #D60B3B;-moz-box-shadow:0 0 10vw 10vw #D60B3B;-ms-box-shadow:0 0 10vw 10vw #D60B3B;-o-box-shadow:0 0 10vw 10vw #D60B3B;box-shadow:0 0 10vw 10vw #D60B3B;
    animation: p1-lantern .5s infinite alternate;-webkit-animation: p1-lantern .5s infinite alternate;-moz-animation: p1-lantern .5s infinite alternate;-ms-animation: p1-lantern .5s infinite alternate; }
@keyframes p1-lantern{
	0%{opacity: .5;transform:scale( .8, .8);-webkit-transform:scale( .8, .8);}
	100%{opacity: 1;}
}
@-webkit-keyframes p1-lantern{
	0%{opacity: .5;transform:scale( .8, .8);-webkit-transform:scale( .8, .8);}
	100%{opacity: 1;}
}
#page1 > .p1-chicken{position:absolute;right:0;bottom:0;left:0;background:url("../images/chicken.png")no-repeat center top;background-size:100%;width:28vw;height:28vh;margin:auto;}
#page1 > .p1-words{font-size:2.134rem;position:absolute;right:0;bottom:48px;left:0;text-align:center;color:#231815;font-weight:bold;}

/*page2*/
#page2{display:none;transition:.5s;-webkit-transition:.5s;}
#page2.fadeOut{opacity: .3;transform: translate(0,-100%);-webkit-transform: translate(0,-100%);}
#page2 >.p2-loading{z-index:4;background:#EF1639;
    animation:p2-loading 1s linear forwards;-webkit-animation:p2-loading 1s linear forwards;}
@keyframes p2-loading{
	0%{opacity:1;}
	100%{opacity:0;}
}
@-webkit-keyframes p2-loading{
	0%{opacity:1;}
	100%{opacity:0;}
}
#page2 > .bg{background:url("../images/p2_bg.jpg")no-repeat center center;background-size:100%;}
#page2 > .p2-circle{position:absolute;top:0;right:0;bottom:0;left:0;margin:auto;border-radius:50%;background:url("../images/p2_circle_outer.png")no-repeat center center;background-size:100%;width:59.375vw;height:59.375vw;
    animation:p2_circle_outer 1s linear 3s infinite;-webkit-animation:p2_circle_outer 1s linear 3s infinite;}
@keyframes p2_circle_outer{
	0%{
		-webkit-transform:rotate(0deg);
		transform:rotate(0deg);
	}
	100%{
		-webkit-transform:rotate(-360deg);
		transform:rotate(-360deg);
	}
}
@-webkit-keyframes p2_circle_outer{
	0%{
		-webkit-transform:rotate(0deg);
		transform:rotate(0deg);
	}
	100%{
		-webkit-transform:rotate(-360deg);
		transform:rotate(-360deg);
	}
}
#page2 > .p2-circle:before{position:absolute;top:0;right:0;bottom:0;left:0;margin:auto;border-radius:50%;content: "";background:url("../images/p2_circle_middle.png")no-repeat center center;background-size:100%;width:45.625vw;height:45.625vw;
    animation:p2_circle_middle 1s linear 2s infinite;-webkit-animation:p2_circle_middle 1s linear 2s infinite;}
@keyframes p2_circle_middle{
	0%{
		-webkit-transform:rotate(0deg);
		transform:rotate(0deg);
	}
	100%{
		-webkit-transform:rotate(720deg);
		transform:rotate(720deg);
	}
}
@-webkit-keyframes p2_circle_middle{
	0%{
		-webkit-transform:rotate(0deg);
		transform:rotate(0deg);
	}
	100%{
		-webkit-transform:rotate(720deg);
		transform:rotate(720deg);
	}
}
#page2 > .p2-circle:after{position:absolute;top:0;right:0;bottom:0;left:0;margin:auto;border-radius:50%;content: "";background:url("../images/p2_circle_inner.png")no-repeat center center;background-size:100%;width:39.937vw;height:39.937vw;
    animation:p2_circle_inner 1s linear 1s infinite;-webkit-animation:p2_circle_inner 1s linear 1s infinite; }
@keyframes p2_circle_inner{
	0%{
		-webkit-transform:rotate(0deg);
		transform:rotate(0deg);
	}
	100%{
		-webkit-transform:rotate(-1080deg);
		transform:rotate(-1080deg);
	}
}
@-webkit-keyframes p2_circle_inner{
	0%{
		-webkit-transform:rotate(0deg);
		transform:rotate(0deg);
	}
	100%{
		-webkit-transform:rotate(-1080deg);
		transform:rotate(-1080deg);
	}
}
#page2 > .p2-2017{position:absolute;top:0;right:0;bottom:0;left:0;margin:auto;background:url("../images/2017.png")no-repeat center center;background-size:100%;width:30vw;height:11vw;}

/*page3*/
#page3{display:none;transition: .5s;-webkit-transition: .5s;}
#page3.fadeIn{transform:translate(0,-100%) ;-webkit-transform:translate(0,-100%) ;}
#page3 > .bg{background:url("../images/p3_bg.jpg")no-repeat center center;background-size:100%;}
#page3 > .p3-logo{width:35vw;height:13vh;position:absolute;top:7.82vh;right:0;left:0;margin:auto;background:url("../images/logo.png") no-repeat center center;background-size: 100%;}
#page3 > .p3-title{width:48vw;height:50vh;position:absolute;top:21vh;right:0;left:0;margin:auto;background:url("../images/title.png") no-repeat center center;background-size: 100%;}
#page3 > .p3-second{width:22.8125vw;height:41.652vh;position:absolute;top:25.48vh;left:3.75vw;background:url("../images/p3_couplet_second.png") no-repeat center center;background-size: 100%;}
#page3 > .p3-first{width:22.8125vw;height:41.652vh;position:absolute;top:25.48vh;right:3.75vw;background:url("../images/p3_couplet_first.png") no-repeat center center;background-size: 100%;}
#page3 > .p3-blessing{width:32vw;height:32vh;position:absolute;bottom:6vh;right:0;left:0;margin:auto;border-radius:50%;background:url("../images/p3_blessing.png") no-repeat center center;background-size: 100%;
    animation:p3-blessing 2s linear infinite;-webkit-animation:p3-blessing 2s linear infinite; }
@keyframes p3-blessing{
	0%{
		-webkit-transform:rotate(0deg);
		transform:rotate(0deg);
	}
	100%{
		-webkit-transform:rotate(360deg);
		transform:rotate(360deg);
	}
}
@-webkit-keyframes p3-blessing{
	0%{
		-webkit-transform:rotate(0deg);
		transform:rotate(0deg);
	}
	100%{
		-webkit-transform:rotate(360deg);
		transform:rotate(360deg);
	}
}
